.contentW {
  margin-top: 100px;
}

.contentW h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(185, 92, 30);
}

.contentW h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.heroWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.heroFeatures {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

.checkbox-icon.big {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.heroText {
  color: #13293d;
  letter-spacing: 0.35px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35em;
}

.heroWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.signBtn {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.signBtn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signBtn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.signBtn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.signBtn:hover {
  background-color: var(--hover-color);
}

.signBtn:hover .arrow {
  background: var(--secondary-color);
}

.signBtn:hover .arrow:before {
  right: 0;
}
.stepWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px; 
  margin: 80px auto 0;
}

.cols {
  flex-basis: calc(33.33% - 20px);
  text-align: center;
  padding: 10px;
}
.stepGui {
  color: black;
}
.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
.stepWrapper img {
  width: 70px;
}
.stepWrapper h4 {
  margin-bottom: 20px;
}
.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; /* This will make the .company div take the full height of the viewport */
}

.company h2 {
  font-size: 30px;
}

.company img {
  width: 90%;
  max-width: 900px;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .cols {
      flex-basis: 100%;
      word-wrap: break-word;
  }
  .company {
    height: 60vh;
  }
  .company h2 {
    font-size: 25px;
  }
  .signBtn {
    font-size: 20px;
    padding: 12px 24px;
  }
}
